<div class="card">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          name="name" 
          #name="ngModel" 
          [(ngModel)]="productService.selectedProduct.name",
          placeholder="Agrega un producto" >
      </div>

      <div class="form-group">
          <input 
            type="text"
            class="form-control" 
            name="category" 
            #category="ngModel" 
            [(ngModel)]="productService.selectedProduct.category",
            placeholder="Agrega una categoria" >
        </div>

        <div class="form-group">
            <input 
              type="text"
              class="form-control" 
              name="location" 
              #location="ngModel" 
              [(ngModel)]="productService.selectedProduct.location",
              placeholder="Agrega una locacion del producto" >
          </div>

          <div class="form-group">
              <input 
                type="text"
                class="form-control" 
                name="price" 
                #price="ngModel" 
                [(ngModel)]="productService.selectedProduct.price",
                placeholder="Agrega un producto" >
            </div>

    </form>
  </div>
</div>